body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("http://il9.picdn.net/shutterstock/videos/1379770/thumb/1.jpg");
    background-size: contain;
    background-position: center;
    font-size: 18px;
    font-family: Arial;
}

/* doing this so the topbar is stuck to top of page */
embed {
    position: absolute;
}

.topbar {
    height: 40px;
    background-color: #555;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.title {
    font-family: sans-serif;
    color: lightblue;
}

.btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    background: #9d12fa;
    padding: 10px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
}

.blinkyDancer, .squidDancer, .turtleDancer, .parrotDancer, .ghostDancer, .halloweenDancer {
    background-repeat: no-repeat;
    position: absolute;
}

.blinkyDancer {
    width: 250px;
    height: 340px;
}

.squidDancer {
    width: 200px;
    height: 200px;
}

.turtleDancer {
    width: 250px;
    height: 190px;
}

.parrotDancer {
    width: 200px;
    height: 210px;
}

.ghostDancer {
    width: 248px;
    height: 166px;
}

.halloweenDancer {
    width: 100px;
    height: 100px;
}

audio {
    position: fixed;
    bottom: 0;
}
