body,
html {
    height: 100%;
}

body {
    margin: 0px;
    background-image: url("http://il9.picdn.net/shutterstock/videos/1379770/thumb/1.jpg");
    /*  background-repeat:no-repeat;*/
    background-size: contain;
    background-position: center;
    font-size: 18px;
}

body,
a:link,
a:visited,
a:active {
    color: lightblue;
}

.title,
.addDancerButton {
    padding: 5px 12px;
    float: right;
}

.topbar {
    height: 32px;
    background-color: #555;
}

.title {
    background-color: #777;
}

.blinkyDancer {
    /*border:10px solid red;
  border-radius:10px;*/
    background-image: no-repeat;
    position: absolute;
    width: 250px;
    height: 340px;
}

.squidDancer {
    background-image: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
}

.turtleDancer {
    background-image: no-repeat;
    position: absolute;
    width: 250px;
    height: 190px;
}

.parrotDancer {
    background-image: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
}
